snippet filehead "file head of go"
/* motto: We don't produce code, we're just GitHub porters!
 * =====================================================================
 * Filename: `!v expand("%:t")`
 * Author: aqshing
 * Email: <work@jdbc.cc> Web: jdbc.cc
 * Brief: ${1:brief of code}
 * Created: `!v strftime("%Y-%m-%d %H:%M:%S")`
 * Changed: `!v strftime("%Y-%m-%d %H:%M:%S")`
 * =====================================================================
 */
endsnippet