snippet filehead "file head of java"
/* motto: We don't produce code, we're just GitHub porters!
 * =====================================================================
 * @Filename: `!v expand("%:t")`
 * @Author: aqshing
 * @Email: jdbc.cc <work@jdbc.cc>
 * @Brief: ${1:brief of code}
 * @Created: `!v strftime("%Y-%m-%d %H:%M:%S")`
 * @Changed: `!v strftime("%Y-%m-%d %H:%M:%S")`
 * =====================================================================
 */
endsnippet

snippet psvm "main func of java"
public static void main(String[] args){
    ${1:code}
}
endsnippet