snippet filehead "file head of sh"
#!/usr/bin/env bash
###################################################
# Filename: `!v expand("%:t")`
# Author: aqshing
# Email: aqdebug.com aqdebug@gmail.com
# Brief: ${1:brief of script}
# Created: `!v strftime("%Y-%m-%d %H:%M:%S")`
# Changed: `!v strftime("%Y-%m-%d %H:%M:%S")`
###################################################
# set -Exeuo pipefail
endsnippet
